/* Home Body CSS - Main Page Content */

.home-body {
  padding: 8px 60px 30px; /* top | left-right | bottom */
}

/* ---------------- BREAKING SECTION ---------------- */

.breaking-section {
  display: flex;
  gap: 20px;
  margin-bottom: 40px;
}


.breaking-image {
  height: 250px;
  border: 2px dashed #000;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.breaking-dots {
  text-align: center;
  margin: 10px 0;
}

.breaking-text {
  border-top: 2px dashed #000;
  padding-top: 10px;
}

.breaking-side {
  flex: 1;
  border: 2px dashed #000;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.breaking-label {
  background: red;
  color: white;
  text-align: center;
  font-weight: bold;
  padding: 5px;
}

.latest-box {
  border: 2px dashed #000;
  padding: 10px;
}

.latest-image {
  height: 140px;
  border: 2px dashed #000;
  margin-bottom: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ad-box {
  border: 2px dashed #000;
  padding: 20px;
  text-align: center;
}

/* ---------------- CATEGORY SECTIONS ---------------- */

.category-section {
  margin-bottom: 50px;
}

.category-title {
  font-size: 22px;
  margin-bottom: 10px;
}

.category-row {
  display: flex;
  align-items: center;
  gap: 15px;
}

.category-card {
  flex: 1;
  height: 180px;
  border: 2px dashed #000;
}

.category-arrow {
  font-size: 30px;
  cursor: pointer;
}
.category-arrow:hover {
  color: gray;
}