.page-content {
  max-width: 100%;
  margin: auto;
  padding: 20px;
}

.category-title {
  font-size: 30px;
  font-weight: 800;
  margin-bottom: 22px;
  text-transform: uppercase;
  border-left: 6px solid #d32f2f;
  padding-left: 14px;
}
.article-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}