* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont;
  background: #f8fafc;
  color: #111;
}

.page-content {
  padding: 30px 60px;
}

