/*News Marquee CSS*/

.news-marquee {
  display: flex;
  align-items: center;
  background: #e60000;
  color: #fff;
  height: 44px;
  overflow: hidden;
  font-family: Arial, sans-serif;
}

/* LEFT FIXED LABEL */
.marquee-label {
  background: #c80000;
  padding: 0 18px;
  font-weight: bold;
  white-space: nowrap;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}

/* SCROLL AREA */
.marquee-wrapper {
  position: relative;
  flex: 1;
  overflow: hidden;
}

/* MOVING TEXT */
.marquee-track {
  display: inline-flex;
  align-items: center;
  gap: 60px;
  white-space: nowrap;
  will-change: transform;
}


.marquee-track span {
  font-size: 15px;
}
